<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_IHelloWorldService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55720/HelloWorldService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IHelloWorldService"
                contract="HelloWorldService.IHelloWorldService" name="CustomBinding_IHelloWorldService" />
        </client>
    </system.serviceModel>
</configuration>