<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Lifetime Manager Types{"The type name or alias Asl.DataProvider.Interface.ICsoSqlDataProvider, Asl.DataProvider could not be resolved. Please check your configuration file and verify this type name."}-->
    <typeAlias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <typeAlias alias="DbContext" type="System.Data.Entity.DbContext, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </typeAliases>
  <containers>
    <container>
      <register type="HelloWorld.Domain.Contract.IHelloWorldService, HelloWorld.Domain" mapTo="HelloWorld.Domain.Services.HelloWorldService, HelloWorld.Domain">
      </register>
      <register type="HelloWorld.Data.Repository.IModelRepository, HelloWorld.Data" mapTo="HelloWorld.Data.Repository.ModelDbRepository, HelloWorld.Data"/>
      <register type="DbContext" mapTo=" HelloWorld.Data.HelloWorldContext, HelloWorld.Data, Version=1.0.0.0, Culture=neutral" name="TransientDbContext" >
      </register>
    </container>
  </containers>
</unity>